.container-cards {
    background-color: #49DECF;
    width: 500px;
    height: 530px;
    overflow-y: auto;
}

.container-card {
    width: 100px;
    height: 120px;
    margin-top: 10px;
    background: rgb(8, 148, 227);
    background: radial-gradient(circle, rgba(8, 148, 227, 1) 0%, rgba(3, 105, 147, 1) 100%);
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
    img {
        width: 90px;
        height: 85px;
    }
    div>h3 {
        margin-right: 5px;
        color: white;
        text-shadow: 1px 1px 1px black;
    }
}