<div class="container container-footer">
    <div class="semi-circulo3">
        <div class="semi-circulo2">
            <div class="semi-circulo1">
                <a class="btns-header btn ml-2" style="color: red;" [routerLink]="['/home']"><i class="fa fa-times" aria-hidden="true"></i></a>
                <button class="btn btns-header mr-2" style="color: aqua;" (click)="openPokedex()"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>